.right{
  width: 50%;
  user-select: none;
  display: flex;
  align-items: center;
  color: white;
  .info{
    width: 100%;
    .function{
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .fn{
        width: 48%;
        height: 165px;
        box-sizing: border-box;
        padding: 16px 8px;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        >span{
          font-size: 1.5em;
        }
        .svg{
          position: relative;
          left: 50%;
          transform: translateX(-50%);
          width: 88px;
          height: 88px;
        }
        .icon{
          border-radius: 50%;
        }
        &:hover{
          transform:scale(1.02);
          background: rgba(14, 14, 14, 0.251);
        }
      }
     
    }
    .links{
      width: 100%;
      .svg{
        width: 1em;
        height: 1em;
        fill: white;
      }
      .line{
        margin-top: 3em;
        >span{
          margin-left: 6px;
          font-size: 1.2em;
        }
      }
      .lis{
        margin-top: 8px;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          .el{
            box-sizing: border-box;
            padding: 10px;
            max-width: 33.3333333333%;
            flex: 0 0 33.3333333333%;
            transition: transform 0.2s ease;
            &:hover{
              transform: scale(1.05);
            }
          }
          .li{
            border-radius: 8px;
            font-size: 1.2em;
            height: 100px;
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: center;
            .svg{
              width: 1.2em;
              height: 1.2em;
              fill: white;
              margin-right: 12px;
            }
          }
      }
    }
  }
  
}
.cards{
  background: rgba(0,0,0,.2509803922);
  backdrop-filter: blur(10px);
  cursor: url('/textSelect.ico'),auto;
  transition: transform 0.4s ease;
}
@media (max-width: 780px) {
  .right {
    display: none;
  }
}
