img,.info_name,.normal_info{
  cursor: url('/public/textSelect.ico'),auto;
}
.info_link div,a{
  cursor: url('/public/help.ico'),auto;
}
hr{
  border: 1px solid #bed7ff;
}
.svg{
  width: 1em;
  height: 1em;
  margin-right: 4px;
}
.wrapper{
  display: flex;
  height: 100vh;
  height: 2000px; 
 
  
}
