img,.info_name,.normal_info{
  cursor: url('/public/textSelect.ico'),auto;
}
.info_link div{
  cursor: url('/public/help.ico'),auto;
}
hr{
  border: 1px solid #bed7ff;
}
.wrapper{
  display: flex;
  height: 100vh;
  height: 2000px; 
 
  .right{
    margin-left: 13em;
    flex: 1;
    overflow-y: scroll;
    padding: 20px 0;
    .resume{
      width: 90%;
      height: 100%;
      margin: 0 auto;
      box-shadow: 0 0 20px #aaa8a8;
    }
  }
}
