.wrapper{
  user-select: none;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: url('/src/assets/imgs/2.png') no-repeat;
  background-size: cover;
  animation: fade-in-out 1s ease-out forwards;
  .button{
    position: absolute;
    top: 20px;
    left: 20px;
  }
  .center{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-top: 120px;
    .date{
      width: 20%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      top: 120px;
      left: 50%;
      transform: translateX(-50%);
      transition: all .5s ;
      color: white;
      .time{
        font-size: 3em;
      }
      .month{
        margin-top: 2em;
        font-size: 1.15em;
        opacity: 0.8;
      }
    }
    .data_active{
      top: 100px;
      transition: all .5s ;
    }
    .search{
      user-select:auto;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      width: 45%;
      height: 43px;
      border-radius: 30px;
      backdrop-filter: blur(10px);
      overflow: hidden;
      margin: 0 auto;
      background: var(--box-bg);
      display: flex;
      justify-content: space-between;
      align-items: center;
       transition: all .5s ;
      &:hover{
        box-shadow:var(--main-search-shadow);
      }
      >input{
        flex: 1;
        background: var(--box-bg);
        border: none;
        color: white;
        width: 100%;
        height: 100%;
        line-height: 100%;
        text-indent: 4px;
        font-size: 1em;
        letter-spacing: 1px;
      }
      input:focus {
        outline: none;
      }
      input:focus::placeholder {
        opacity: 0;
      }
      input::placeholder{
        color: white;
        }
      .icon{
        width: 1.5em;
        height: 1.5em;
      }
      .ic1,.ic2{
        padding: 0 10px;
      }
    }
    .active{
      top: 40%;
      transition: all .5s ;
    }
  }
}
.li{
  width: 45%;
  border-radius: 10px;
  position: absolute;
  top:calc(40% + 188px);
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
  background-color: var(--main-background-color);
  box-shadow: var(--main-search-shadow);
  backdrop-filter: blur(10px);
  overflow: hidden;
  margin: 0 auto;
  >ul{
    >li{
      padding: 8px 6px;
      border-radius: 10px;
      transition: all .3s;
      &:hover{
        background-color: #f0eded60;
        transform: translate(6px,-2px);
      }
    }
  }
}
.liActive{
  top: calc(60% + 124px);
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
    transform: scale(1.1);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: scale(1.0);
  }
}
