.bar{
  cursor: url('/textSelect.ico'),auto;
}
.normal_info{
  padding:4px 0;
  transition: all .3s;
  display: flex;
  align-items: center;
  >span{
    width: 50%;
  }
  .bar{
    flex: 1;
    padding: 0 8px;
    height: 4px;
    .process{
      height: 4px;
      background: #2fb0ec;
    }
  }
}
.normal_info:hover{
  transform: scale(1.05);
}
.process{
  margin: 8px 0;
  width: 100%;
  background: rgba(14, 14, 14, 0.251);
  border-radius: .5em;
  .bar{
    padding: 3px 2px;
    border-radius: .5em;
    color: #000;
    background: #fff;
    text-align: center;
    transition: width 1s ease;
  }
}
