@font-face {
  font-family: 'Pacifico-Regular';
  src: url('../assets/fonts/Pacifico-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.wrapper{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: url('../assets/imgs/1.png');
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  animation: fade-in-out 1s ease-out forwards;
  >button{
    position: relative;
    left: 20px;
    top: 20px;
  }
}
.wrapper_seciton{
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
}
@keyframes fade-in-out {
  0% {
    opacity: 0;
    transform: scale(1.1);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: scale(1.0);
  }
}
.overflow{
  user-select: none;
  width: 40%;
  height: 70vh;
  background-color: var(--box-bg); 
  backdrop-filter: blur(10px);
  position: absolute;
  right: 10%;
  transform: translate(0,-50%);
  top: 50%;
  z-index: 999;
  border-radius: 8px;
  padding: 30px 16px;
  color: white;
  display: flex;
  flex-direction: column;
  >h1{
    font-size: 1.5em;
    letter-spacing: 1px;
    font-weight: bold;
  }
  :nth-child(2){
    margin-top: 36px;
  }
  >span{
    margin: 8px 0;
  }
  
}
